.grid-container{
    display: grid;
}
.bacon-photos{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.current-page{
    color:#651fff;
    font-weight: bold;
    text-decoration: underline;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  nav ul li a:active {
    background-color: #9b6dff;
    color: #651fff;
  }
  /* .active vs :active didnt do anything i dont */