.grid-container{
    display: grid;
}
h1 {
    text-align: center; /* Center the heading horizontally */
}
h2{
    text-decoration: underline;
}
.four-photos{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    grid-column-gap: 10px;
    border-radius: 8px;
    padding-bottom: 10px;
    max-width: 100%; /* Ensure images don't exceed the width of their container */
    height: auto; 
}
.bacon-photos{ /*this is for all pets EXCEPT the bacon dog */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-column-gap: 10px;
    border-radius: 10px;
    /* padding-bottom: 10px; */
}
.one-col{
    display:grid;
    grid-template-columns: 1fr;
    width: 100%;
    grid-column-gap: 10px;
    border-radius: 20px;

}
.one-col-main{
    display:grid;
    grid-template-columns: 1fr;
    width: 100%;
    grid-column-gap: 10px;
    /* border-radius: 20px; */

}
.main-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
 .image-fit{
    /* width: 164px; /*140*/
    /*height: 260px; */
    object-fit: cover;
    max-width: 100%; /* Ensure images don't exceed the width of their container */
    height: auto; 
    border-radius: 10px;
    /* padding-bottom: 8px; */
 }

.skip-this{
    position: absolute;
    left: -1000px;
    color: #bbb;
}
.skip-this:focus{
    left: 10px;
    color: #000;
}
.current-page{
    color:#651fff;
    font-weight: bold;
    text-decoration: underline;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  nav ul li a:active {
    background-color: #9b6dff;
    color: #651fff;
  }
  /* .active vs :active didnt do anything i dont */