.grid-container{
    display: grid;
}
/* .body{ */
  /* cursor: url(images/cursor.png), auto; */
/* } */
h1 {
    text-align: center; /* Center the heading horizontally */
    /* font-size: 2em; */
    font-weight: bold;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    font-family: Merriweather, serif;
    font-size: 40px;
}
h2{
    text-decoration: underline;
    display: block;
    /* font-size: 1.5em; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 10px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;

}
h3{
    display: block;
    /* font-size: 1.17em; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 10px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;

}
p {
    display: block;
    padding-left: 10px;
    margin-block-start: 1em;
    margin-inline-end: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;

}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.four-photos{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    grid-column-gap: 10px;
    border-radius: 8px;
    padding-bottom: 10px;
    max-width: 100%; /* Ensure images don't exceed the width of their container */
    height: auto; 
}
.bacon-photos{ /*this is for all pets EXCEPT the bacon dog */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-column-gap: 10px;
    border-radius: 10px;
    /* padding-left: 10px;
    padding-right: 10px; */
    /* padding-bottom: 10px; */
}
.one-col{
    display:grid;
    grid-template-columns: 1fr;
    width: 100%;
    grid-column-gap: 10px;
    border-radius: 20px;

}
.one-col-main{
    display:grid;
    grid-template-columns: 1fr;
    width: 100%;
    grid-column-gap: 10px;
    /* border-radius: 20px; */

}
.main-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
 .image-fit{
    /* width: 164px; /*140*/
    /*height: 260px; */
    object-fit: cover;
    max-width: 100%; /* Ensure images don't exceed the width of their container */
    height: auto; 
    border-radius: 10px;
    /* padding-bottom: 8px; */
 }

.skip-this{
    position: absolute;
    left: -1000px;
    color: #000;
}
.skip-this:focus{
    left: 10px;
    color: #000;
}
.current-page{
    color:#651fff;
    font-weight: bold;
    text-decoration: underline;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    /* color: #0a1172; */
  }
  nav ul li a:active {
    background-color: #9b6dff;
    color: #651fff;
  }
  nav ul li a:visited {
    color: #0a1172;; /* Change color for visited links */
  }
  @media(prefers-reduced-motoion: reduce){
    video{
        display: none;
    }
    source {
      display: none
    }
  }
  
  .pets-body{
    background-color: #fec8d8;
  }
  .recipes-body{
    background-color: #f1ffc4;
  }
  .travel-body{
    background-color: #c6e2e9;
  }
  .index-body{
    background-color: #d6efed;
  }

  @media screen and (min-width: 680px){
    .pet-container{
      display: flex;
        justify-content: space-between;
        
        align-items: flex-start;
  }
  .main-bacon-image, .bacon-likes, .main-image, .pet-likes {
    flex: 1; /* This makes both children of .pet-container take up equal space */
  }
  .main-image img{
    height: auto;
  }
  .travel-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .travel-item{
    text-align: center;
  }

  .interactive-image, .one-col-main{
    transition: opacity 0.3s ease;
    
  }
  .interactive-image:hover , .one-col-main:hover{
    opacity: 0.7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  }
  .main-part-index{
    p{
      font-size: 20px;
    }
  }
  
    

  }
  /* nav ul li a:visited {
    color: -webkit-link;
  } */
  /* .active vs :active didnt do anything i dont */